<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.outbound.mapper.TaskInfoMapper">

    <resultMap type="com.ruoyi.outbound.domain.TaskInfo" id="TaskInfoResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="taskNo" column="task_no"/>
        <result property="taskDate" column="task_date"/>
        <result property="regionId" column="region_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="resPhoneNum" column="res_phone_num"/>
        <result property="resSubmitNum" column="res_submit_num"/>
        <result property="retSuccNum" column="ret_succ_num"/>
        <result property="retFailNum" column="ret_fail_num"/>
        <result property="retOutDateNum" column="ret_out_date_num"/>
        <result property="svcTime" column="svc_time"/>
        <result property="batchId" column="batch_id"/>
        <result property="status" column="status"/>
        <result property="sendMsgStatus" column="send_msg_status"/>
        <result property="tempNum" column="temp_num"/>
    </resultMap>

    <select id="selectTaskListPage" parameterType="com.ruoyi.outbound.domain.bo.TaskInfoBo"
            resultType="com.ruoyi.outbound.domain.vo.TaskInfoVo">
        select t.id,t.name,t.task_no,t.task_date,t.biz_no, t.region_id,t.create_time,t.res_phone_num,t.res_submit_num,t.ret_succ_num,t.ret_fail_num,
        t.ret_out_date_num,
        (select count(*) from data_import.ob_send_message_log tt where tt.task_id = t.id) as send_msg_status,
        (select count(*)  from zhhn_db.ob_message_template tt where tt.temp_taskid = t.id) as temp_num
        from data_import.ob_task t
        <where>
            <if test="taskInfoBo.name != null and taskInfoBo.name != ''"> and name like concat('%', #{taskInfoBo.name}, '%')</if>
            <if test="taskInfoBo.regionId != null and taskInfoBo.regionId != ''"> and region_id = #{taskInfoBo.regionId}</if>
            <if test="taskInfoBo.params.beginTaskDate != null and taskInfoBo.params.beginTaskDate != ''">
             and task_date between  STR_TO_DATE(#{taskInfoBo.params.beginTaskDate}, '%Y-%m-%d') and
                STR_TO_DATE(#{taskInfoBo.params.endTaskDate}, '%Y-%m-%d')
            </if>
        </where>
        order by t.create_time desc
    </select>
</mapper>
